<mat-toolbar color="primary">
  <span>
    <a routerLink="/">Chirper Admin Center</a>
  </span>
  <span class="spacer"></span>
</mat-toolbar>

<mat-accordion multi="true">
  <mat-expansion-panel *ngFor="let cheep of cheeps">
    <mat-expansion-panel-header>
      {{cheep.username+" "+cheep.date}}
    </mat-expansion-panel-header>
    <p>{{ cheep.text }}</p>
    <mat-action-row>
      <button mat-button color="warn" (click)="deletecheep(cheep.id)" >DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

